.notification-enter {
  opacity: 0;
  transform: translateX(100%);
}

.notification-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.notification-leave-active {
  opacity: 0;
  transform: translateX(100%);
}
